<ul class="navbar-nav">
    @if (!User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="#">Hello @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
        </li>
    }
</ul>