@model CartDto

@if (Model.CartHeader != null && Model.CartDetails?.Count() > 0)
{
    <form method="post" class="font-monospace ">
        <input asp-for="CartHeader.UserId" hidden />
        <input asp-for="CartHeader.CartHeaderId" hidden />
        <input asp-for="CartHeader.CartTotal" hidden />

        <div class="card border-2 container">
            <div class="card-header bg-primary bg-gradient text-white row">
                <div class="col-md-6 col-sm-12 text-center text-md-start">
                    <h3 class="text-white"><i class="bi bi-cart"></i> Shopping Cart</h3>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-end">
                    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-warning mt-2 btn-sm">Continue Shopping</a>
                </div>
            </div>
            <div class="card-body">
                <hr />

                <partial name="_CartDetails" model="Model.CartDetails" />

                <hr />
                <div class="row">
                    <div class="row-cols-sm-12 col-md-7 text-center pb-3 text-md-start">
                        @if (string.IsNullOrEmpty(Model.CartHeader.CouponCode))
                        {
                            <span>Coupon:</span>
                            <input asp-for="CartHeader.CouponCode" />
                            <button type="submit" asp-action="ApplyCoupon" class="btn btn-sm btn-success text-center">Apply</button> <!-- Center-align the button -->
                        }
                        else
                        {
                            <span>Coupon:</span>
                            <input asp-for="CartHeader.CouponCode" disabled />
                            <button type="submit" asp-action="RemoveCoupon" class="btn btn-sm btn-success">Remove</button>
                        }
                    </div>
                    <div class="col-sm-12 col-md-5 text-center text-md-end">
                        <span class="text-danger" style="font-size: 21px;">Order Total: @string.Format("{0:c}", Model.CartHeader.CartTotal) <br /></span>
                        @if (Model.CartHeader.Discound > 0)
                        {
                            <span class="text-success">Order Discount: @string.Format("{0:c}", Model.CartHeader.Discound)</span>
                        }
                    </div>
                </div>
            </div>
            <div class="card-footer row justify-content-md-between">
                <div class="col-md-4 col-sm-12 mb-2">
                    <button type="submit" class="btn btn-outline-danger form-control">Email Cart</button>
                </div>
                <div class="col-md-4 col-sm-12">
                    <a asp-action="CheckOut" class="btn btn-success form-control">Looks Good?</a> <!-- Add margin for mobile version -->
                </div>
            </div>
        </div>
    </form>
}
else
{
    TempData["error"] = "Please add items to the shopping cart";
}
