@model LoginRequestDto

<form asp-action ="Login">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                    <div class="card-header text-center bg-primary-subtle"><h1>Login</h1></div>
                <div class="card-body">
                    <form method="post" action="/login">
                        <!-- Update the 'action' attribute as needed -->
                        <div class="form-group">
                            <label for="username">Email</label>
                            <input asp-for="UserName" type="text" class="form-control border- border-black" id="username" name="username" required>
                        </div>
                        <div class="form-group pb-4">
                            <label for="password">Password</label>
                                <input asp-for="Password" type="password" class="form-control border- border-black" id="password" name="password" required>
                        </div>
                            <button type="submit" class="form-control btn btn-primary" value="Submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
